{% load i18n %}{% autoescape off %}
{% trans "Hello" %} {{ user.get_full_name|default:user.username }},

{% trans "You're receiving this email because you requested a password reset for your account at Isitech Blog." %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "If you didn't request this password reset, please ignore this email. Your password won't be changed." %}

{% trans "Thanks for using our site!" %}

{% trans "The Isitech Blog Team" %}
{% endautoescape %}
